.board {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}

.board-row {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.board-cell {
  width: 60px;
  height: 60px;
  border: 2px solid #d3d6da;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
}

.board-cell.correct {
  background-color: #6aaa64;
  color: #fff;
  border-color: #6aaa64;
}

.board-cell.present {
  background-color: #c9b458;
  color: #fff;
  border-color: #c9b458;
}

.board-cell.absent {
  background-color: #787c7e;
  color: #fff;
  border-color: #787c7e;
}
